.banner{
    background-image: url('../../../images/bannerbackground.png');
    background-repeat: no-repeat;
    min-height:  500px;
    background-size: 120%;
    background-position: center;
    object-fit: fill;
}