.banner{
    background-image: url('../../../images/bannerbackground.png');
    background-repeat: no-repeat;
    min-height: calc(100vh - 80px);
    background-position: center;
    object-fit: fill;
}